<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Your account details:</h1>
<span>Username: </span> <span th:text="${user.username}"></span>
<span>password: </span> <span th:text="${user.password}"></span>
<span>role: </span> <span th:text="${user.role}"></span>
<span>data: </span> <span th:text="${user.data}"></span>
<div sec:authorize="hasRole('ADMIN')">
    <p>Click <a th:href="@{/all-stat/statistic}">here</a> to see all user statistics.</p>
</div>
<p>Click <a th:href="@{/stat/statistic}">here</a> to see statistics.</p>
</body>
</html>